
  <header>
    <h1>SunRising Spots in India</h1>
  </header>

  <main>
    <div class="image-grid">
      <div class="image-item">
        <img src="\assets\federico-respini-sYffw0LNr7s-unsplash.jpg" alt="Image 1">
        <h2>RAJASTHAN</h2>
        <p>Nahargarh Fort is one of the oldest forts. Located on the edge of the Aravalli Ranges, it offers the most panoramic sunrise and city view. The tickets for the fort are affordable.
           Also, The cost is nothing in comparison to the magnificence it offers.</p>
      </div>
      <div class="image-item">
        <img src="\assets\pexels-pixabay-163255.jpg" alt="Image 2">
        <h2>MEGHALAYA</h2>
        <p>Nongjrong is known for its breathtaking sunrise view. The green hills and valleys are adorned by endless white clouds that appear like a sea from the hill's base. 
            The valley looks even more enchanting when the sun approaches the horizon.</p>
      </div>
      <div class="image-item">
        <img src="\assets\quino-al-mBQIfKlvowM-unsplash.jpg" alt="Image 3">
        <h2>KANYAKUMARI</h2>
        <p>Sunrise point is just behind the Amman temple on the Kanyakumari Beach. 
            There were already around 3000 people there!</p>
      </div>
    </div>
  </main>


