<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="brand">SUNRISE</a>
    <ul class="nav-links" id="nav-links">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="/register" routerLinkActive="active" class="nav-link">Register Here</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

  
  